.player{

    width: 300px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;


    span{
        font-size: 32px;
        margin-left: 16px;
    }
    background-color: rgb(227, 223, 213, 0.8);
    
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active{
        background-color: rgb(217, 151, 70) !important;
}