<div class="field">

    <div class="card-Stack">
        
        <!--<img src="./../../assets/img/cards/ace_13.png" alt="">-->
        <div [ngStyle]="{'right.px':i * 5}" *ngFor="let c of [0,1,2,3,4]; let i = index;" class="card card-cover"></div>
        <div (click)="takeCard()"  style="right: 30px;" class="card card-cover top-card"></div>
        <div (click)="takeCard()" 
            *ngIf="pickCardAnimation"  style="right: 30px;" class="card card-content pick-card" 
            [style.--bg-image]="'url(./assets/img/cards/'+currentCard+'.png)'"
            >
        </div>

        
    </div>

</div>
public